*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}
header{
    display: flex;
    background: linear-gradient(90deg, rgb(54, 53, 53) 0%, rgb(52, 50, 50) 58%, rgba(91, 93, 93, 1) 100%);
    align-items: center;
    justify-content: space-between;
    padding: 0.2%;
}



header nav ul {

    display: flex;
    gap: 3em;
}




body {
    
    margin: 0;
    padding: 0;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.menu {
    flex: 1; 
    position: absolute;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.menu li {
    position: absolute;
    left: 0;
    list-style: none;
    transform-origin: 100px;
    transition: 0.5s;
    transition-delay: calc(0.1s * var (--i) );
    transform: rotate(0deg) translateX(100px);
}

.menu.active li {
    transform: rotate(calc(360deg / 4 * var(--i))) translateX(-83px);
}

.menu li a {
    
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 2em;
    color: black;
    opacity: 0.8;
}


.content {
    flex: 1;
}

.toggle {
    position: absolute;
    height: 60px;
    width: 60px;
    background-color:  rgb(197, 191, 178);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 4px rgba(0,0,0,0.15);
    font-size: 2em;
    transition: transform 1.25s;
  
    
}

.menu.active .toggle {
    transform: rotate(310deg);
}

.logo{
    width: 20%;
    height: 5%;
    
}

#IconUno{
    background-color: #D4AF37;
    
}
#IconDos{
    background-color: #a68d31;
}
#IconTres{
    background-color:  #836d24;
}
#IconCuatro{
    background-color:#584a16;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 3em;
    background: rgb(20,20,20);
    background-color: rgba(44,44,46,1);
    color: rgb(182, 182, 166);
    font-family: 'EB Garamond', serif;
    font-family: 'Noto Sans', sans-serif;
    padding-top: 0.06em;
    padding-right: 1em;
    padding-bottom: 0.06em;
    padding-left: 0.06em;
}

.redes {
    border-radius: 0%;
    height: 2em;
    width: 203m;

}

.responsivo{
    display: none;
}

@media (max-width: 768px) {

    .logo{
        width: 50%;
        height: 5%;
    }

    .content{
        background-color: rgb(255, 255, 255);
        display: flex;
        
    }
    
    .toggle {
        display: none;
    }

    .menu li {
        display: none;
    }

    .responsivo{
        display: block;
        width: 100%;
        height: 100%;
        width: 100%;
        height: 100%;
        text-align: center; /* Para centrar el contenido horizontalmente */
        border: 4px solid #836d24; /* Agrega un borde de 1px sólido y color negro */
        padding: 10%;
    }
    
    .responsivo a {
        display: block; /* Para que ocupen el ancho completo */
        width: 100%; /* Ocupan el 100% del ancho */
        text-align: center; /* Centrar el texto dentro de cada elemento <a> */
        border-bottom: 1px solid #000; /* Línea separadora entre elementos <a> */
        padding: 3em 0; /* Espaciado vertical para separar los elementos <a> */
        text-decoration: none; /* Eliminar subrayado de enlace */
        color: #000; /* Color del texto */
        font-family: 'EB Garamond', serif;
        font-family: 'Noto Sans', sans-serif;
    }

  }


 
  